<center>
    <h1 id='numerical-features-statistic-ii' style='color:#7159c1'>ðŸ§® Numerical Features Statistic II ðŸ§®</h1>
    <i>Exploring Numerical Features - Dispersion Metrics</i>
</center>

```
- Interquartile Range
- Variance
- Standard Deviation
- Mean Absolute Deviation
- Coefficient of Variation
- Skewness
- Kurtosis
```

In [2]:
import pandas as pd # pip install pandas

df = pd.read_csv('./datasets/students.csv')
df

         name main_breed position favorite_color  age
0        goku      sayan      low         purple   45
1      vegeta      sayan     high         purple   73
2       broly      sayan     high         purple   23
3       gohan      sayan      low          black   64
4    granolah      alien      low         purple   56
5   majin buu      alien     high          black   37
6      freeza      alien     high          black   61
7     piccolo      alien      low          black   24
8     gamma 1    android     high         purple   50
9  android 17    android      low         purple   78